<div class="container mt-5">
    <div class="jumbotron">
        
      <h1 class="display-4 text-white">
        <img src="assets/images/comping.png" alt="Logo" height="100" width="500">
    </h1>
      <p class="lead text-black">Learn about services through services and service providers.</p>
    </div>

    <div class="row mt-5">
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Services</h5>
            <p class="card-text">Find  services  to enhance your services.</p>
            <a routerLink="/quiz-list" class="btn btn-primary">Service list</a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Service provider</h5>
            <p class="card-text">Customize your services by picking which provider you want for your services.</p>
            <a routerLink="/profile" class="btn btn-primary">Service provider list</a>
          </div>
        </div>
      </div>

    </div>
  </div>

